.map-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.map-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.map-logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.map-desktop-menu {
  display: flex;
}
.map-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.map-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.map-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.map-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  text-decoration: none;
}
.map-image1 {
  width: 100px;
  object-fit: cover;
}
.map-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.map-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.map-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.map-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.map-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.map-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.map-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.map-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.map-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.map-login {
  margin-right: var(--dl-space-space-twounits);
}
.map-icon-group {
  display: flex;
}
.map-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.map-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.map-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.map-navbar-interactive {
  top: 25px;
  left: -237px;
  width: 1916px;
  height: 89px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.map-desktop-menu1 {
  display: flex;
  position: relative;
}
.map-nav2 {
  flex: 1;
  left: 0px;
  right: 0px;
  bottom: -1px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.map-navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.map-navlink1 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.map-navlink2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.map-navlink3 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.map-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.map-burger-menu1 {
  display: none;
  align-items: center;
  justify-content: center;
}
.map-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.map-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.map-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.map-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.map-image2 {
  height: 2rem;
}
.map-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.map-nav4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.map-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.map-container5 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.map-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.map-icon-group1 {
  display: flex;
}
.map-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.map-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.map-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.map-hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.map-heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.map-header {
  color: rgb(255, 255, 255);
  font-size: 72px;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.map-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.map-buttons {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.map-container7 {
  width: 100%;
  height: 1562px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.map-div {
  width: 1856px;
  height: 1530px;
}
.map-description {
  gap: 120px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 0px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
