<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <div class="component-container1">
      <div class="component-description">
        <div class="component-content">
          <p class="component-paragraph">
            <span class="component-text">Our Mission:</span>
            <br />
            <span>
              Our mission is to connect the next generation with the
              environment, and the world around them, giving them exposure that
              may have been hindered due to technology. This will aid in forming
              a more environmentally aware genration who can bond with the
              environment and connect with nature.
            </span>
            <br />
          </p>
        </div>
      </div>
    </div>
    <span class="component-text04">
      <span class="component-text05">The Problem and Solution:</span>
      <br class="component-text06" />
      <span>
        Beaches are often dirty from the various tourists that take its beauty
        for granted, and harm natures equilibrium. We are using various
        technology such as Computer Vision, to use drones to detect trash on
        beaches in order to create a network of beaches that require cleaning
      </span>
      <br />
      <span>
        up. The drone operates in 20 minute intervals and can dock at a station
      </span>
      <span>to</span>
      <br />
      <span>
        recharge for 5 minutes, and gets ready to take its next flight. We aim
        to
      </span>
      <br />
      <span>
        cover at least 30 public beaches on the California coast by the start of
      </span>
      <br />
      <span>
        the 2023-2024 school year. Our CV algorithm detects trash from a
      </span>
      <br />
      <span>
        currently developing database of trash to easily detect the difference
      </span>
      <br />
      <span>
        between trash, sand, people, rocks, water, and any sort of branches that
      </span>
      <br />
      <span>wash up on shore.</span>
    </span>
  </div>
</div>
